
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: $color;
}
